<!-- <div class="logo">
    <div class="absolute flex items-center justify-center left-0 right-0 top-0 bottom-0 text-[15rem] text-white ">5
    </div>
</div> -->


<div class="maincontainer overlay flex items-center justify-center">
    <div class="logo1" [class.logo1-hover]="addingClassFlag">
        <div class="logo">
            <div class="rings">
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="ring">
                    <div class="rin"></div>
                </div>
                <div class="border"></div>

            </div>
            <div class="diamond"></div>
            <div class="diamond"></div>
            <div class="diamond"></div>
            <div class="diamond"></div>
            <div class="mainHeading">Ek aur sawaal</div>
            <div class="subHeading1">
                <div class="char">&nbsp;</div>
                <div class="char">R</div>
                <div class="char">E</div>
                <div class="char">A</div>
                <div class="char">L</div>
                <div class="char">&nbsp;</div>
                <div class="char">P</div>
                <div class="char">A</div>
                <div class="char">G</div>
                <div class="char">E</div>
            </div>
            <div class="subHeading2">
                <div class="char">&nbsp;</div>
                <div class="char">R</div>
                <div class="char">E</div>
                <div class="char">A</div>
                <div class="char">L</div>
                <div class="char">&nbsp;</div>
                <div class="char">P</div>
                <div class="char">A</div>
                <div class="char">G</div>
                <div class="char">E</div>
            </div>
        </div>
        <div class="back flex items-center justify-center">
            <div class="text-[20rem] gif-container">
              <div class="fade-in white text">{{questionNumber}}</div>
             
            </div>
          </div>
          
          
    </div>
</div>