<div class="congratsPage">
    <div id="confetti-wrapper">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
    </div>
    <section class="random-bg">
        <div class="winner-wrap">
            <div class="border"></div>
            <div class="medal-box"><i class="fas fa-medal"></i></div>
            <h1>EK AUR SAWAAL 2023</h1>
            <h2>Team Meraki</h2>
            <div class="winner-ribbon">WINNER</div>
            <div class="right-ribbon"></div>
            <div class="left-ribbon"></div>
        </div>
        <a routerLink="/"><img src="\assets\medal (1).png" class="medal"></a>
        <div class="playerName">{{playerName | uppercase}}</div>
    </section>
    
</div>