.bgimage {
  background-image: url("/assets/homebg.png");
}

.borderstyle {
  font-size: 1.74rem;
  border: dashed;
  border-width: 1px 4px;
  border-radius: 10px 40px;
  border-color: goldenrod;
}

.borderLeftStyle {
  border: dotted goldenrod;
  border-width: 0 2px 0 0;
}

/* timer */
.circle {
  /* margin: auto;
              display: flex;
              border: solid 10px rgb(12, 12, 12);
              border-radius: 50%;
              background-color: rgb(0, 140, 255);
              
              width: 100px;
              height: 100px;
          align-items: center; */

  display: flex;
  margin: auto;
  width: 200px;
  height: 100px;
  border: solid 10px rgb(22, 13, 13);
  border-radius: 150px 150px 0 0;
  background-color: rgb(28, 30, 148);
}
.circle .timer {
  margin: auto;
  color: white;
}

/* timer */

.colors {
  background-color: red;
}

.bottombtn {
  background-color: white;
  padding: 0.6rem;
  font-size: 1.5em;
  border-radius: 12px;

  cursor: pointer;
}

.bottombtn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
