.div-with-lighting {
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% { box-shadow: 0 0 10px 10px red; }
  14% { box-shadow: 0 0 10px 10px orange; }
  28% { box-shadow: 0 0 10px 10px yellow; }
  42% { box-shadow: 0 0 10px 10px green; }
  57% { box-shadow: 0 0 10px 10px blue; }
  71% { box-shadow: 0 0 10px 10px indigo; }
  85% { box-shadow: 0 0 10px 10px violet; }
  100% { box-shadow: 0 0 10px 10px red; }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgimage {
  margin: 0;
  overflow: hidden;
  background: #222;
  background: url('/assets/bg.jpg');
  min-height: 100vh;
}

.borderstyle {
  font-size: 1.74rem;
  border: dashed;
  border-width: 1px 4px;
  border-radius: 10px 40px;
  border-color: goldenrod;
}

.borderLeftStyle {
  border: dotted goldenrod;
  border-width: 0 2px 0 0;
}

.ansColor {
  background-color: green;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wrongAnsColor {
  background-color: red;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16),
    0px 0px 0px 3px rgba(51, 51, 51, 1);
}

/* timer */
.circle {
  /* margin: auto;
              display: flex;
              border: solid 10px rgb(12, 12, 12);
              border-radius: 50%;
              background-color: rgb(0, 140, 255);
              
              width: 100px;
              height: 100px;
          align-items: center; */

  display: flex;
  margin: auto;
  width: 200px;
  height: 100px;
  border: solid 10px rgb(22, 13, 13);
  border-radius: 150px 150px 0 0;
  background-color: rgb(28, 30, 148);
}
.circle .timer {
  margin: auto;
  color: white;
}

/* timer */

.colors {
  border-color: red;
  box-shadow: rgba(82, 144, 236, 0.527) 0px -23px 25px 0px inset,
    rgba(199, 27, 27, 0.15) 0px -36px 30px 0px inset,
    rgba(132, 139, 241, 0.1) 0px -79px 40px 0px inset,
    rgba(73, 192, 247, 0.06) 0px 2px 1px, rgba(206, 209, 9, 0.09) 0px 4px 2px,
    rgba(247, 247, 247, 0.09) 0px 8px 4px, rgba(8, 184, 22, 0.09) 0px 16px 8px,
    rgba(240, 235, 235, 0.09) 0px 32px 16px;
}

.bottombtn {
  background-color: white;
  font-size: 1.5em;
  border-radius: 12px;
  padding: 0 3.5rem;
  cursor: pointer;
}

.btnEnd {
  font-size: 1.5em;
  border-radius: 12px;
  padding: 0 3.5rem;
  cursor: pointer;
  background-color: rgb(243, 49, 49);
}

.bottombtn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.startBtn {
  border: 5px solid red;
  border-radius: 12px;
}

button {
  background-color: white;
}
.start__btn:hover {
  background-color: rgb(57, 235, 57);
}

.pause__btn:hover {
  background-color: rgb(243, 49, 49);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ///hover effect of images
 */
.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, -10px);
}

/* fade in transition */

.source {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.nofade {
  opacity: 1;
}

.fade {
  opacity: 0;
}
